---
---

<div id="loader" aria-hidden="true" role="presentation">
  <div id="loader-content">
    <div id="loader-logo">
      <img src="/icons/logo.png" alt="" width="148" height="60" style="height:60px;width:auto;" aria-hidden="true" />
    </div>
    <div id="loader-counter">
      <span id="loader-number">0</span><span>%</span>
    </div>
    <div id="loader-bar">
      <div id="loader-bar-fill"></div>
    </div>
  </div>
  <div id="loader-curtain-left"></div>
  <div id="loader-curtain-right"></div>
</div>
